@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Root Styles */
:root {
    --primary-color: #04d361;
    --secondary-color: #000000;
    --light-color: #ffffff;
    --dark-color: #222222;
    --font-family: 'Arial', sans-serif;
    --spacing: 1rem;
    --border-radius: 0.5em;
    --transition-speed: 0.3s;
    --hero-height: 100vh;
    --bg-color: #F4B860;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: var(--font-family);
    background-color: var(--dark-color);
    color: var(--dark-color);
    line-height: 1.6;
}

::selection {
    background: var(--primary-color);
    color: var(--light-color);
}

.text-green::selection{
    background: var(--bg-color);
    color: var(--dark-color);
}

.text-light::selection {
    background: var(--primary-color);
    color: var(--dark-color);
}

.text-light-bg-green::selection{
    background: var(--light-color);
    color: var(--dark-color);
}

.main {
    display: flex;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing);
}

/* Navbar Styles */
.navbar {
    width: 100%;
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.logo {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}

/* Burger Icon Styles */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger .line {
    width: 25px;
    height: 3px;
    background: var(--primary-color);
    margin: 4px;
    transition: 0.3s;
}

/* Cross icon styles when sidebar is active */
.burger.cross .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.cross .line:nth-child(2) {
    opacity: 0;
}

.burger.cross .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 414px) {
    .nav-links {
        position: absolute;
        top: 50px;
        right: 0;
        height: 100vh;
        width: 100%;
        background: var(--primary-color);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        text-decoration: none;
        color: var(--dark-color);
        font-size: 1.5rem;
    }

    .nav-links a:hover {
        text-decoration: none;
        color: var(--light-color);
        font-size: 1.5rem;
    }

    .burger {
        display: flex;
    }

    .nav-active {
        transform: translateX(0%);
    }
}

/* Hero Section */
.hero {
    height: var(--hero-height);
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.hero h2 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;

}
  
.hero h1{
    color: var(--primary-color);
}



.hero p {
    margin-bottom: 1.75rem;
}
  
.hero .btn {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 0.75em 1.5em;
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease-in-out;
    transition: color 0.1s ease-in-out;
    text-decoration: none;
}
  
.hero .btn:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}
  
.hero .btn:active {
    background-color: var(--primary-color);
    color: var(--dark-color);
}

/* About Section */
.about {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: var(--spacing) 0;
    text-align: center;
}
  
.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
  
.about p {
    font-size: 1.25rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}
  
.about .btn {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 0.75em 1.5em;
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease-in-out;
    transition: color 0.1s ease-in-out;
    text-decoration: none;
}
  
.about .btn:hover {
    background-color: var(--primary-color);
    color: var(--dark-color);
}
  
.about .btn:active {
    background-color: var(--primary-color);
    color: var(--light-color);
}

/* Skills Section */
.skills {
    padding: 3rem 0;
    text-align: center;
}
  
.skills h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--light-color);
}
  
.skills-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
  
.skills-logos img {
    width: 4rem;
    height: 4rem;
    transition: transform var(--transition-speed) ease, filter var(--transition-speed) ease;
}
  
.skills-logos img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}
  
.skills-logos img:active {
    transform: scale(1);
    filter: brightness(1);
}
  
/* Work Section */
.work {
    background-color: var(--light-color);
    padding: var(--spacing) 0;
    color: var(--dark-color);
}
  
.work h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
  
.work-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--spacing);
}
  
.work-item {
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    border: 0.15em solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 1em;
    transition: transform var(--transition-speed);
}
  
.work-item img {
    width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 1em;
}
  
.work-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
  
.work-item p {
    font-size: 1rem;
    flex-grow: 1;
}
  
.work-item:hover {
    transform: translateY(-0.5em);
}
  
/* Contact Section */
.contact {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: var(--spacing) 0;
    text-align: center;
    direction: rtl;
}
  
.contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
  
.contact p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
  
.contact-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    font-size: 1.25rem;
}
  
.contact-logo img {
    margin-left: 0.5rem;
}

@media (max-width: 800px) {
    .contact p {
        font-size: 1rem;
    }
}
  
/* Footer Section */
footer {
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: center;
}
  
footer p {
    font-size: 1rem;
}
  
/* Animations */
.animated {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}
  
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Breakpoint for 320px */
@media (max-width: 320px) {
    h2 {
        font-size: 1rem;
    }
    .hero h1 {
        font-size: 0.75rem;
    }
    p {
        font-size: 0.875rem;
    }
    .container {
        padding: 0 0.5rem;
    }
}

/* Breakpoint for 375px */
@media (min-width: 320px) and (max-width: 375px) {
    h2 {
        font-size: 1.5rem;
    }
    .hero h1 {
        font-size: 2.25rem;
    }
    p {
        font-size: 0.75rem;
    }
    .container {
        padding: 0 0.75rem;
    }
}

/* Breakpoint for 425px */
@media (min-width: 375px) and (max-width: 425px) {
    .hero h2 {
        font-size: 1.75rem;
    }
    .hero h1 {
        font-size: 2.5rem;
        
    }
    p {
        font-size: 1rem;
    }
    .container {
        padding: 0 1rem;
    }
}

/* Breakpoint for 425px */
@media (min-width: 425px) and (max-width: 490px) {
    .hero h2 {
        font-size: 3rem;
    }
    .hero h1{
        font-size: 4rem;
    }
    p {
        font-size: 1rem;
    }
    .container {
        padding: 0 1rem;
    }
}

/* Breakpoint for 490x */
@media (min-width: 490px) and (max-width: 768px) {
    .hero h2 {
        font-size: 3.5rem;
    }
    .hero h1 {
        font-size: 4.25rem;
    }
    p {
        font-size: 1.125rem;
    }
    .container {
        max-width: 95%;
    }
}

/* Breakpoint for 768px */
@media (min-width: 768px) and (max-width: 1024px) {
    h2 {
        font-size: 2.75rem;
    }
    .hero h1 {
        font-size: 5rem;
    }
    p {
        font-size: 1.25rem;
    }
    .container {
        max-width: 90%;
    }
}

/* Breakpoint for 1024px */
@media (min-width: 1024px) and (max-width: 1440px) {
    h2 {
        font-size: 3rem;
    }
    .hero h1 {
        font-size: 6rem;
    }
      p {
        font-size: 1.5rem;
    }
    .container {
        max-width: 85%;
    }
}

/* Breakpoint for 1440px */
@media (min-width: 1440px) and (max-width: 2560px) {
    h2 {
        font-size: 3.5rem;
    }
    .hero h1 {
        font-size: 6.5rem;
    }
    p {
        font-size: 2rem;
    }
    .container {
        max-width: 80%;
    }
}
